In [1]:
# Initialize Otter
import otter
grader = otter.Notebook("proj3.ipynb")

# Project 3: Data Transformation

## Due Date: Thursday, October 26th, 5:00 PM

## Assignment Details

In this project, we'll be working with one month of data from sensors in buildings at UC Berkeley. This is a very typical real-world dataset‚Äîi.e. it's kind of a mess. The full dataset contains a giant `data` table of many billions of sensor readings over the course of a decade; we will look at a single month of that data. It also contains a variety of other tables that contextualize the readings.

The **schema for the database** is shown below.
* Each line represents a relationship between the two fields.
* The side of the line diverging to three lines / arrows represents the **"many"** side of the relationship, while the side of the line converging to one arrow represents the **"one"** side of the relationship.
* This file is available as `data/schema.png`.

Occasionally people believe that when the data has a well-structured schema, then it's simple to proceed! *We'll put this assumption to the test.*

Citation: Luo, N., Wang, Z., Blum, D. et al. A three-year dataset supporting research on building energy management and occupancy analytics. _Sci Data_ 9, 156 (2022). https://doi.org/10.1038/s41597-022-01257-x

<img src="data/schema.png">

If you make any queries to explore the data, do not forget to add a LIMIT clause; LIMIT 10 is a good default to always add to the end of your queries. Otherwise, your connection may close as a result of trying to load excessively many rows. To explore the data within the JupyterNotebook, you may add a cell like so:
```
%%sql
SELECT ... 
LIMIT 10;
```
In addition, for the entirety of the project, you may make as many CTEs as you'd like.

## Logistics & Scoring Breakdown

This is an **individual project**. However, you‚Äôre welcome to collaborate with any other student in the class as long as it‚Äôs within the academic honesty guidelines. Free-response questions (marked 'm' in the table below) are manually graded.

Question | Points
--- | ---
1a	| m: 1
1b  | 1
1c	| 1
1d	| m: 2
2a	| 3
2b	| 1
3a	| m: 1
3b	| 1
3c	| 1
3d  | m: 1
3e  | 2
4a	| 2
4b	| 2
4c	| 3
5a  | 1
5b  | 1
5c  | 3
**Total** | 27

**Grand Total:** 27 points (autograded: 22, manual: 5)

In [2]:
# Run this cell to set up imports
import numpy as np
import pandas as pd

In [3]:
%reload_ext sql
%sql postgresql://jovyan@127.0.0.1:5432/postgres

## Loading Up the Database
To load the database, run the following cell.

In [4]:
# This cell sets up the database

# first clean existing connections
import subprocess
call = subprocess.run(["psql", "-h", "localhost", \
                       "-tAc", "SELECT 1 FROM pg_database WHERE datname='ucb_buildings'", "template1"], \
                      stdout=subprocess.PIPE, text=True)
if call.stdout == "1\n":
    !psql postgresql://localhost:5432/ucb_buildings -c 'SELECT pg_terminate_backend(pg_stat_activity.pid) FROM pg_stat_activity WHERE datname = current_database()  AND pid <> pg_backend_pid();'

# then delete and recreate database
!psql -h localhost -c 'DROP DATABASE IF EXISTS ucb_buildings'
!psql -h localhost -c 'CREATE DATABASE ucb_buildings'
!gunzip -c data/proj3.sql.gz | psql -h localhost -d ucb_buildings -f -

 pg_terminate_backend
----------------------
(0 rows)

DROP DATABASE
CREATE DATABASE
SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
CREATE EXTENSION
COMMENT
CREATE EXTENSION
COMMENT
CREATE FUNCTION
ALTER FUNCTION
CREATE AGGREGATE
ALTER AGGREGATE
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE MATERIALIZED VIEW
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 92
COPY 102386
COPY 100000
COPY 381
COPY 9509
COPY 26183
COPY 5276
COPY 12
ALTER TABLE
ALTER TABLE
ALTER TABLE
REFRESH MATERIALIZED VIEW

Now, run the following cell to connect to the `ucb_buildings` database. There should be no errors after running the following cell.

In [5]:
%sql postgresql://jovyan@127.0.0.1:5432/ucb_buildings

Connecting and switching to connection postgresql://jovyan@127.0.0.1:5432/ucb_buildings

## Connect to the grader

Run the following cell for grading purposes.

In [6]:
# Just run the following cell, no further action is needed.
from data101_utils import GradingUtil
grading_util = GradingUtil("proj3")
grading_util.prepare_autograder()

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

<!-- BEGIN QUESTION -->

## Question 1: Unboxing the Data

### Question 1a

As mentioned above, we are working with just one month of data. In the full database (which we don't have access to), tables like the `data` table have billions of rows. What do you notice about the design of the database schema above that helps support the large amount of data and minimize redundancy? Keep your response to at most three sentences.

**Hint:** There is no need to examine any data here. What is a technique learned in lecture 16? Define that technique.

_The database above employs the use of normalization, which is the process of splitting up relations into multiple relations to minimize redundancy. This will minimize the amount anomalies that need to be deleted or updated as "missing" or new data will not be necessary to check across all relations because relations are more decomposed. We are able to know this because there are some elements of the schema that we know as more consistent than others, so values of data can be represented just once instead of multiple times repeatedly._

<!-- END QUESTION -->

<br><br>

---
### Question 1b

The diagram claims that `buildings_site_mapping` has a **many-to-many relationship** with `real_estate_metadata`. Let's validate that. 

Below is an example of the aggregate function `json_agg` being used with a table; you will need to do this in the next two parts. Note the necessary use of a `GROUP BY` to use `json_agg`, which aggregates values from the table and returns a single JSON array. [(Documentation)](https://www.postgresql.org/docs/9.5/functions-aggregate.html)

In [7]:
%%sql
SELECT b.site, json_agg(b) from buildings_site_mapping b GROUP BY b.site LIMIT 5;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

5 rows affected.

+----------------------+----------------------------------------------------------------+
|         site         |                            json_agg                            |
+----------------------+----------------------------------------------------------------+
|  Sutardja Dai Hall   |  [{'site': 'Sutardja Dai Hall', 'building': 'SUTARDJA DAI'}]   |
|    Le Conte Hall     |      [{'site': 'Le Conte Hall', 'building': 'LE CONTE'}]       |
|   Hildebrand Hall    |    [{'site': 'Hildebrand Hall', 'building': 'HILDEBRA ND'}]    |
|    Stephens Hall     |      [{'site': 'Stephens Hall', 'building': 'STEPHENS'}]       |
| 2000 Carleton Street | [{'site': '2000 Carleton Street', 'building': 'CARLETO2 000'}] |
+----------------------+----------------------------------------------------------------+

Find the **distinct** values of `buildings_site_mapping.building` that match multiple tuples in `real_estate_metadata.building_name`, and for each such value of `buildings_site_mapping.building` return the matches as JSON via `json_agg(real_estate_metadata)`. Your output should contain the building and the `json_agg` in that order. **Order your final result by building ascending**.

**Hint:** You should use a CTE to find the distinct buildings of `buildings_site_mapping` before applying necessary table joins.

In [8]:
%%sql --save query_1b result_1b <<
WITH expression AS
    (SELECT DISTINCT(building)
     FROM buildings_site_mapping)
SELECT real_estate_metadata.building_name AS building, json_agg(real_estate_metadata) AS json_agg
FROM real_estate_metadata
INNER JOIN expression
    ON expression.building = real_estate_metadata.building_name
GROUP BY real_estate_metadata.building_name
HAVING COUNT(real_estate_metadata.building_name) >= 2
ORDER BY building;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

5 rows affected.

In [9]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_1b = %sqlcmd snippets query_1b
grading_util.save_results("result_1b", query_1b, result_1b)
result_1b

+--------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|   building   |                                                                                                                                                                                                                                                                                                                                                                                                                                                          json_agg                                                                                                                                                                                                                                                                                                                                                                                                                                                         |
+--------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| ALUMNI HOUSE | [{'location': 'BERKELEY', 'building': '1215', 'building_name': 'ALUMNI HOUSE', 'address': 'CORE C22A2M0PUS', 'city_name': 'BERKELEY', 'county': 'ALAMEDA', 'category': 'GENERAL', 'osfg': 15590, 'bldg_asf': 8719, 'levels': 2, 'year': '1954', 'owner': 'UC', 'mp_code': 'P', 'book_value': 106819}, {'location': 'IRVINE', 'building': '9207', 'building_name': 'ALUMNI HOUSE', 'address': 'CORE CAMPUS', 'city_name': 'IRVINE', 'county': 'ORANGE', 'category': 'GENERAL', 'osfg': 4027, 'bldg_asf': 2549, 'levels': 1, 'year': '1984', 'owner': 'UC', 'mp_code': 'P', 'book_value': 41981}, {'location': 'FRANCISC SOAN', 'building': '2032', 'building_name': 'ALUMNI HOUSE', 'address': 'PARNASS US AVE', 'city_name': 'FRANCISC OSAN', 'county': 'FRANCISC OSAN', 'category': 'HEALTH SCIENCE', 'osfg': 7217, 'bldg_asf': 5079, 'levels': 3, 'year': '1915', 'owner': 'UP', 'mp_code': 'P', 'book_value': 135923}] |
|   CAMPBELL   |                                                                                                                                                  [{'location': 'BERKELEY', 'building': '1027', 'building_name': 'CAMPBELL', 'address': 'CORE C28A5M0PUS', 'city_name': 'BERKELEY', 'county': 'ALAMEDA', 'category': 'GENERAL', 'osfg': 83373, 'bldg_asf': 50745, 'levels': 7, 'year': '2014', 'owner': 'UC', 'mp_code': 'P', 'book_value': 75256344.0}, {'location': 'LOS ANGELES', 'building': '4294', 'building_name': 'CAMPBELL', 'address': 'PORTOLA P11L8A1Z1A', 'city_name': 'LOS ANGELES', 'county': 'LOS ANGELES', 'category': 'GENERAL', 'osfg': 55401, 'bldg_asf': 32619, 'levels': 5, 'year': '1954', 'owner': 'UC', 'mp_code': 'P', 'book_value': 6247192.0}]                                                                                                                                                 |
|    HERTZ     |                                                                                                                                                               [{'location': 'BERKELEY', 'building': '1423', 'building_name': 'HERTZ', 'address': 'CORE CAMPUS', 'city_name': 'BERKELEY', 'county': 'ALAMEDA', 'category': 'GENERAL', 'osfg': 31362, 'bldg_asf': 13518, 'levels': 4, 'year': '1958', 'owner': 'UC', 'mp_code': 'P', 'book_value': 3491181.0}, {'location': 'DAVIS', 'building': '9454', 'building_name': 'HERTZ', 'address': '7000 EAST 2A4V0E0 LAKE', 'city_name': 'LIVERMOR E', 'county': 'ALAMEDA', 'category': 'GENERAL', 'osfg': 10904, 'bldg_asf': 8183, 'levels': 1, 'year': '1976', 'owner': 'UC', 'mp_code': 'P', 'book_value': 0}]                                                                                                                                                               |
|    SOUTH     |                                                                                                                                                                 [{'location': 'BERKELEY', 'building': '1484', 'building_name': 'SOUTH', 'address': 'CORE CAMPUS', 'city_name': 'BERKELEY', 'county': 'ALAMEDA', 'category': 'GENERAL', 'osfg': 30401, 'bldg_asf': 15473, 'levels': 4, 'year': '1873', 'owner': 'UC', 'mp_code': 'P', 'book_value': 1426174.0}, {'location': 'DAVIS', 'building': '3275', 'building_name': 'SOUTH', 'address': 'CORE CAMPUS', 'city_name': 'DAVIS (YOLO)', 'county': 'YOLO', 'category': 'GENERAL', 'osfg': 26594, 'bldg_asf': 15323, 'levels': 4, 'year': '1912', 'owner': 'UC', 'mp_code': 'P', 'book_value': 3585399.0}]                                                                                                                                                                |
|    SPROUL    |           [{'location': 'BERKELEY', 'building': '1210', 'building_name': 'SPROUL', 'address': 'CORE 2C6A0M0PUS', 'city_name': 'BERKELEY', 'county': 'ALAMEDA', 'category': 'GENERAL', 'osfg': 111197, 'bldg_asf': 66680, 'levels': 6, 'year': '1941', 'owner': 'UC', 'mp_code': 'P', 'book_value': 4278819.0}, {'location': 'DAVIS', 'building': '3815', 'building_name': 'SPROUL', 'address': 'CORE CAMPUS', 'city_name': 'DAVIS (YOLO)', 'county': 'YOLO', 'category': 'GENERAL', 'osfg': 53874, 'bldg_asf': 27913, 'levels': 10, 'year': '1963', 'owner': 'UC', 'mp_code': 'P', 'book_value': 1620880.0}, {'location': 'RIVERSIDE', 'building': 'P5523', 'building_name': 'SPROUL', 'address': 'CORE CAMPUS', 'city_name': 'RIVERSIDE', 'county': 'RIVERSIDE', 'category': 'GENERAL', 'osfg': 80988, 'bldg_asf': 45532, 'levels': 5, 'year': '1965', 'owner': 'UC', 'mp_code': 'P', 'book_value': 1296147.0}]          |
+--------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [10]:
grader.check("q1b")

q1b results: All test cases passed!

<br><br>

---
### Question 1c

Now find examples of many matches in the opposite direction. For each distinct `real_estate_metadata.building_name` value, find the ones that have multiple matches in `buildings_site_mapping.building`, and for each return a `json_agg` of the multiple values for `buildings_site_mapping`. Your output should contain the building name and the `json_agg` in that order. **Order your final result by building name ascending.**

**Hint:** You should use a CTE to find the distinct building names of `real_estate_metadata` before applying necessary table joins.

In [11]:
%%sql --save query_1c result_1c <<
WITH expression AS
    (SELECT DISTINCT(building_name)
     FROM real_estate_metadata)
SELECT buildings_site_mapping.building AS building, json_agg(buildings_site_mapping) AS json_agg
FROM buildings_site_mapping
INNER JOIN expression
    ON expression.building_name = buildings_site_mapping.building
GROUP BY buildings_site_mapping.building
HAVING COUNT(buildings_site_mapping.building) >= 2
ORDER BY building;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

4 rows affected.

In [12]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_1c = %sqlcmd snippets query_1c
grading_util.save_results("result_1c", query_1c, result_1c)
result_1c

+--------------+-------------------------------------------------------------------------------------------------------------------------------------------------+
|   building   |                                                                     json_agg                                                                    |
+--------------+-------------------------------------------------------------------------------------------------------------------------------------------------+
| EDWARDS FLD  |            [{'site': 'Edwards Stadium West', 'building': 'EDWARDS FLD'}, {'site': 'Edwards Stadium East', 'building': 'EDWARDS FLD'}]           |
|   FAC CLUB   |                [{'site': 'Womens Faculty Club', 'building': 'FAC CLUB'}, {'site': "Men's Faculty Club", 'building': 'FAC CLUB'}]                |
| HAAS STU BLD | [{'site': 'Haas School of Business', 'building': 'HAAS STU BLD'}, {'site': 'Haas School Student Services (Water)', 'building': 'HAAS STU BLD'}] |
|    SIMON     |                     [{'site': 'Boalt and Simon Hall', 'building': 'SIMON'}, {'site': 'Simpson Center', 'building': 'SIMON'}]                    |
+--------------+-------------------------------------------------------------------------------------------------------------------------------------------------+

In [13]:
grader.check("q1c")

q1c results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---
### Question 1d

Do you see any issues with the schema given? In particular, please address the two questions below:
- Can you uniquely determine the building given the sensor data? Why? (**Hint:** given a row in the `data` table, can you determine a **uniquely** associated row in `real_estate_metadata` table? Your answer should draw insights from 1b.)
- Could `buildings_site_mapping.building` be a valid foreign key pointing to `real_estate_metadata.building_name`? (**Hint:** think about the definition / constraints of a foreign key.)

Please keep your response to **at most three sentences.**

_You cannot determine the building from sensor data because, as demonstrated in 1b, there are many rows that map from the real_estate_metadata table to a singular row in the data table, making it impossible to uniquely determine the building. Foreign keys must not create dangling tuples, so buildings_site_mapping.building cannot point to real_estate_metadata.building_name as there are building names not found in real_estate_metadata that are f._

<!-- END QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 2: Looking for Outliers in the Readings
Physical sensors, such as the ones responsible for generating this data, are notorious for occasionally producing crazy outliers. In this section, we will undergo some data cleaning to address these outliers.

The readings from all different types of sensors are mixed together within this `data` table. This assortment of mixed readings will require some extra work to identify the outliers. Let's get started.

### Question 2a: Outlier Detection

Let's start with finding the outlying values *for each sensor id*. We'll define an outlier as an observation that is more than **3 Hampel X84 intervals** away from the median. See [lecture 14](https://docs.google.com/presentation/d/1vG53ZkZfwWm2Bz2QFCHcyB5ySuUod5ESYgRKz0qXqjk/edit?usp=sharing) for more.

Create a view `labeled_data` that contains all of the columns in `data` and adds three additional columns on the far right ***for each sensor id***:
  - `median` containing the median using `percentile_disc`
  - `mad` containing the Median Absolute Deviation (MAD),
  - `outlier` that contains `true` for the outlier readings and `false` for the rest. **Also,** for data points where the `mad` is 0, set this to `false`.

**Hint:** You should use CTEs to first compute the median and MAD values. Feel free to create as many CTEs as you need to complete the objective. Our staff solution used 3.

In [14]:
%%sql --save query_2a result_2a <<
CREATE OR REPLACE VIEW labeled_data AS
(WITH median_table AS
     (SELECT id, percentile_disc(0.5)
      WITHIN GROUP (ORDER BY value) as median
      FROM data
      GROUP BY id),
 diff_table AS
     (SELECT id, median, ABS(data.value - median) AS diff
      FROM median_table
      NATURAL JOIN data),
 mad_table AS
     (SELECT id, percentile_disc(0.5)
      WITHIN GROUP (ORDER BY diff) AS mad
      FROM diff_table
      GROUP BY id),
 result_table AS
     (SELECT id, time, value, median, mad, 
      CASE WHEN value > median + 3 * 1.4826 * mad THEN true
      ELSE false
      END AS outlier
      FROM mad_table NATURAL JOIN median_table NATURAL JOIN data)
 SELECT * FROM result_table)
;
SELECT * FROM labeled_data WHERE outlier ORDER BY id, time LIMIT 100;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

100 rows affected.

In [15]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2a = %sqlcmd snippets query_2a
grading_util.save_results("result_2a", query_2a, result_2a)
result_2a

+--------------------------------------+---------------------------+-------+--------+--------------------+---------+
|                  id                  |            time           | value | median |        mad         | outlier |
+--------------------------------------+---------------------------+-------+--------+--------------------+---------+
| a47e9bd4-ab61-56d5-9e0e-2dce29a46dd3 | 2018-06-09 08:45:00+00:00 |  98.7 |  37.2  |        12.5        |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 00:00:00+00:00 | 812.6 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:00:00+00:00 | 807.3 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:15:00+00:00 | 800.0 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:30:00+00:00 | 819.5 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:45:00+00:00 | 808.7 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 19:15:00+00:00 | 811.1 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 19:30:00+00:00 | 804.2 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 19:45:00+00:00 | 810.9 | 727.5  | 16.200000000000045 |   True  |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 20:00:00+00:00 | 801.7 | 727.5  | 16.200000000000045 |   True  |
+--------------------------------------+---------------------------+-------+--------+--------------------+---------+

In [16]:
grader.check("q2a")

q2a results: All test cases passed!

<br><br>

---

### Question 2b: Outlier Handling (Winsorization)

In this step, define a view `cleaned_data` containing all the columns of `labeled_data` and one additional column on the far right called `clean_value`. This column will contain a copy of `labeled_data.value` if that value is not an outlier. For outliers, it should contain the value Winsorized to the nearest outlier boundary value (3 Hampel X84 intervals from the median). If the MAD is 0, then the cleaned value should be unchanged (i.e., the same as the original value).

To reiterate, we consider a value to be an outlier if it is more than (strictly greater than or strictly less than) 3 Hampel X84 intervals from the median.

In [17]:
%%sql --save query_2b result_2b <<
CREATE OR REPLACE VIEW cleaned_data AS
SELECT labeled_data.*, CASE
    WHEN value > median + 3 * 1.4826 * mad THEN median + 3 * 1.4826 * mad
    WHEN value < median + 3 * 1.4826 * mad THEN median - 3 * 1.4826 * mad
    WHEN mad = 0 THEN value
    ELSE value
END AS cleaned_data
FROM labeled_data
;
SELECT * FROM cleaned_data WHERE outlier ORDER BY id, time LIMIT 100;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

100 rows affected.

In [18]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_2b = %sqlcmd snippets query_2b
grading_util.save_results("result_2b", query_2b, result_2b)
result_2b

+--------------------------------------+---------------------------+-------+--------+--------------------+---------+-------------------+
|                  id                  |            time           | value | median |        mad         | outlier |    cleaned_data   |
+--------------------------------------+---------------------------+-------+--------+--------------------+---------+-------------------+
| a47e9bd4-ab61-56d5-9e0e-2dce29a46dd3 | 2018-06-09 08:45:00+00:00 |  98.7 |  37.2  |        12.5        |   True  |      92.7975      |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 00:00:00+00:00 | 812.6 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:00:00+00:00 | 807.3 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:15:00+00:00 | 800.0 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:30:00+00:00 | 819.5 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 18:45:00+00:00 | 808.7 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 19:15:00+00:00 | 811.1 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 19:30:00+00:00 | 804.2 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 19:45:00+00:00 | 810.9 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
| a481d4a8-44f6-5f63-b469-85571a018c6f | 2018-06-07 20:00:00+00:00 | 801.7 | 727.5  | 16.200000000000045 |   True  | 799.5543600000002 |
+--------------------------------------+---------------------------+-------+--------+--------------------+---------+-------------------+

In [19]:
grader.check("q2b")

q2b results: All test cases passed!

<!-- BEGIN QUESTION -->

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 3: Entity Resolution

### Question 3a
There is a lot of mess in this dataset related to entity names. As a start, have a look at all of the distinct values in the `units` field of the `metadata` table. What do you notice about these values? Are there any duplicates? **Limit your response to one sentence.**

_Many of the values of the unit column of the metadata are duplicates with different cases (e.g. kWh vs. KWH) and some of them are abbreviations of each other (e.g. gal vs Gallons)._

<!-- END QUESTION -->

<br><br>

---

### Question 3b

Sometimes entity resolution is as simple as a text transformation. For example, how many unique `units` values are there, and how many would there be if we ignored case (upper vs. lower case)? Your output should be a table with one row and two columns; the first column should contain the number of unique `units` values, and the second column should contain the number of unique `units` values if we ignored case. The two columns can have arbitrary names‚Äîwe will not be checking column names.

In [20]:
%%sql --save query_3b result_3b <<
SELECT COUNT(DISTINCT units) AS col1, COUNT(DISTINCT UPPER(units)) AS col2
FROM metadata;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

1 rows affected.

In [21]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_3b = %sqlcmd snippets query_3b
grading_util.save_results("result_3b", query_3b, result_3b)
result_3b

+------+------+
| col1 | col2 |
+------+------+
|  34  |  29  |
+------+------+

In [22]:
grader.check("q3b")

q3b results: All test cases passed!

<br><br>

---

### Question 3c

Arguably, we shouldn't care about these alternative unit labels, *as long as each sensor **class** uses a single value of `units` for all its sensor ids*. After all, maybe the capitalization means something to somebody!

Write a SQL query that returns a **single row with one column** of value `true` if the condition (in italics above) holds, or a single row with one column of value `false` otherwise. This column can have an arbitrary name‚Äîwe will not be checking its name. Please do not hard code this query‚Äîwe reserve the right to penalize your score if you do so.

**Hint:** You may find `ALL` to be useful here.

In [23]:
%%sql --save query_3c result_3c <<
WITH tab1 AS 
    (SELECT class, COUNT(*) AS count_1 FROM metadata GROUP BY class),
tab2 AS
     (SELECT class, COUNT(*) AS count_2 FROM metadata GROUP BY class, units),
joined_table AS
    (SELECT * 
     FROM tab1
     INNER JOIN tab2
         ON tab1.class = tab2.class),
new_table AS
    (SELECT CASE 
     WHEN count_1 != count_2 THEN false
     ELSE true
     END AS condition
    FROM joined_table)
SELECT bool_and(condition)
FROM new_table;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

1 rows affected.

In [24]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_3c = %sqlcmd snippets query_3c
grading_util.save_results("result_3c", query_3c, result_3c)
result_3c

+----------+
| bool_and |
+----------+
|   True   |
+----------+

In [25]:
grader.check("q3c")

q3c results: All test cases passed!

<!-- BEGIN QUESTION -->

<br><br>

---

### Question 3d

Moving on, have a look at the `real_estate_metadata` table‚Äîstarting with the distinct values in the `location` field! What do you notice about these values? Keep your response to at most two sentences.

_Some of the values from the location field have random spacings in between letters that are not originally supposed to be there. For example, "SAN DSAIENG O" should be equivalent to "SAN DIEGO" and "FRANCISC O" should reference "SAN FRANCISCO."_

<!-- END QUESTION -->

<br><br>

---
### Question 3e

It turns out this `real_estate_metadata` table is the result of an [OCR scan](https://en.wikipedia.org/wiki/Optical_character_recognition). We will just focus on cleaning up the `location` column for the time being, and leave you to imagine the effort required to do a full cleanup of all columns.

We have preloaded Postgres' extension packages for "fuzzy" string matching (`fuzzystrmatch`) and trigrams (`pg_trgm`) for you so that you can take advantage of some convenient utility functions. You can use any of the string functions in those packages if you'd like ([as documented here for fuzzystrmatch](https://www.postgresql.org/docs/current/fuzzystrmatch.html) or [here for pg_trgm](https://www.postgresql.org/docs/current/pgtrgm.html)).

We also created a lookup table of standardized names, `uc_locations`.

Now, using any of the string functions you like (or none at all!), write a SQL query that returns the columns `(building_name, address, location, clean_location)` where `clean_location` contains the best match from `uc_locations.loc_name`. We recommend taking a look at `levenshtein`, `word_similarity`, `metaphone`, but feel free to explore the different functions available. You may find that you can't clean up everything with the string functions, so your view may have to include some specific logic for cases in the data that have to be handled "manually". You can choose to do this question in whatever manner you wish as long as your query does not use `CREATE TABLE`, `INSERT INTO`, or `UPDATE`.

In [26]:
%%sql --save query_3e result_3e <<
WITH dist_locs AS
    (SELECT locations
    FROM (SELECT DISTINCT(location) AS locations
     FROM real_estate_metadata) AS new_real_estate),
combined AS
    (SELECT locations, loc_name, word_similarity(locations, loc_name) AS similarity
     FROM dist_locs, uc_locations),
ranked AS
    (SELECT locations AS lnew, loc_name
    FROM (SELECT combined.*, RANK() OVER (PARTITION BY locations ORDER BY similarity DESC) AS rank
     FROM combined) AS cool WHERE rank = 1),
final AS
    (SELECT *
     FROM real_estate_metadata, ranked
     WHERE location = lnew)
    
SELECT building_name, address, location, loc_name AS clean_location
FROM final
;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

5276 rows affected.

In [27]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_3e = %sqlcmd snippets query_3e
grading_util.save_results("result_3e", query_3e, result_3e)
result_3e

+---------------+---------------------+----------+----------------+
| building_name |       address       | location | clean_location |
+---------------+---------------------+----------+----------------+
|     CLEARY    |    2424 CHANNING    | BERKELEY |    BERKELEY    |
|  WALNUT19 25  |     1925 WALNUT     | BERKELEY |    BERKELEY    |
| ERCHLDE DCNTR |      2339 HASTE     | BERKELEY |    BERKELEY    |
|  MRI MODLR II |  CORE 2C1A5M4P-6U0S | BERKELEY |    BERKELEY    |
| UNIV 2154- 60 |    UNIVERSIT 2Y55   | BERKELEY |    BERKELEY    |
|     HAVENS    |  PANORAMI C25 W5 AY | BERKELEY |    BERKELEY    |
|   HAVENS GR   | PANORAMI 2C9 W99A Y | BERKELEY |    BERKELEY    |
|   BOAT HOUSE  |   GLASCOC K STREET  | BERKELEY |    BERKELEY    |
|  BOAT EBRIGHT |   303 DERBY AVENUE  | BERKELEY |    BERKELEY    |
|   BOAT SHED   |   303 DERBY AVENUE  | BERKELEY |    BERKELEY    |
+---------------+---------------------+----------+----------------+

In [28]:
grader.check("q3e")

q3e results: All test cases passed!

<br/><br/><br/>

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Question 4: Interpolating Missing Data
Real-world data, real-world problems. Our sensors should be reporting every 15 minutes, but you can be sure that we're missing some data. Here we will fix it. It's a bit more involved than what we looked at in class!

### Question 4a: Finding missing readings
In the `data` table, the `id` column identifies a unique sensor. Sensor readings should be recorded every 15 minutes from every sensor. Are we missing any readings, and if so which ones? We will focus on readings that are separated by at least 30 minutes or more; readings that are \[0-30) minutes apart are considered to be fine.

To answer this question you'll need to read up a bit on [SQL timestamps](https://www.postgresql.org/docs/current/datatype-datetime.html) and [Functions for manipulating datetime types](https://www.postgresql.org/docs/current/functions-datetime.html). Have a particular look at the following:
- The [date_trunc](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC) function will quantize times to the nearest unit of your choosing. For example, to round the `time` field to the nearest minute you can say `date_trunc('minute', time)`. **You'll need to quantize to minutes right away before you worry about missing readings.**
- There are various ways to enter constant intervals of time as strings. For example, a 30 minute interval can be written as `interval '30 minutes'` or `'30 minutes'::interval`. See [date/time input](https://www.postgresql.org/docs/current/datatype-datetime.html#DATATYPE-INTERVAL-INPUT) for more info.
- You can do arithmetic on date/time types [as documented here](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-TRUNC). That will handle all the weird periodicities of clocks and calendars for you. Pay attention to the input and output types of these functions!
- Alternatively, the [EXTRACT](https://www.postgresql.org/docs/current/functions-datetime.html#FUNCTIONS-DATETIME-EXTRACT) function is sometimes handy. Note the special `EXTRACT(EPOCH FROM ...)` case. This converts a timestamp into an integer representing the number of seconds since midnight, 1/1/1970 (the dawn of [UNIX time](https://en.wikipedia.org/wiki/Unix_time)!)  You can do normal integer comparisons and arithmetic on the results.
- You will need to use the [lag](https://www.geeksforgeeks.org/postgresql-lag-function/) function as the window function.


Create a view called `gaps` that augments the `data` schema with three columns:
- `lagtime` is the quantized time of the previous reading for that sensor (relative to the current row for a particular row)
- `lagvalue` is the value of the previous reading for that sensor
- `timediff` is the difference in quantized time between this reading and the previous reading

The view should only contain rows where `timediff` is **greater than or equal to 30 minutes**.

In [29]:
%%sql --save query_4a result_4a <<
CREATE OR REPLACE VIEW gaps AS
WITH quant_time AS
    (SELECT date_trunc('minute', time) AS time, id, value
    FROM data),
lag_table AS
    (SELECT quant_time.*,
    LAG(time, 1) OVER (PARTITION BY id ORDER BY time) AS lagtime,
    LAG(value, 1) OVER (PARTITION BY id ORDER BY time) AS lagvalue
    FROM quant_time),
edited AS
    (SELECT lag_table.*,
    EXTRACT(EPOCH FROM time) - EXTRACT(EPOCH FROM lagtime) AS cool
    FROM lag_table)
SELECT time, id, value, lagtime, lagvalue, cool
     FROM edited
     WHERE cool >= 1800
;
ALTER VIEW gaps RENAME COLUMN cool TO timediff;
SELECT * FROM gaps ORDER BY id, time LIMIT 10;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

10 rows affected.

In [30]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4a = %sqlcmd snippets query_4a
grading_util.save_results("result_4a", query_4a, result_4a)
result_4a

+---------------------------+--------------------------------------+--------+---------------------------+----------+-------------+
|            time           |                  id                  | value  |          lagtime          | lagvalue |   timediff  |
+---------------------------+--------------------------------------+--------+---------------------------+----------+-------------+
| 2018-06-13 09:15:00+00:00 | a3d47b1a-985e-5395-a6ee-719dad9b580f | 0.056  | 2018-06-13 08:45:00+00:00 |  0.056   | 1800.000000 |
| 2018-06-09 04:15:00+00:00 | a3e8e405-0eed-59b6-8747-fe892a6f93de | 280.8  | 2018-06-09 03:45:00+00:00 |  281.6   | 1800.000000 |
| 2018-06-13 09:15:00+00:00 | a46fb790-028c-5d17-a3e6-7d08daec0c03 | 281.46 | 2018-06-13 08:45:00+00:00 |  281.39  | 1800.000000 |
| 2018-06-09 04:15:00+00:00 | a470ac6d-d448-522b-9b74-8ed27f24de25 | 0.004  | 2018-06-09 03:45:00+00:00 |  0.006   | 1800.000000 |
| 2018-06-07 00:45:00+00:00 | a48e47ab-bbcd-5b39-aaaa-47fbaafe166e | 27.273 | 2018-06-07 00:15:00+00:00 |   30.0   | 1800.000000 |
| 2018-06-07 01:30:00+00:00 | a48e47ab-bbcd-5b39-aaaa-47fbaafe166e | 27.273 | 2018-06-07 01:00:00+00:00 |  23.077  | 1800.000000 |
| 2018-06-07 17:45:00+00:00 | a48e47ab-bbcd-5b39-aaaa-47fbaafe166e | 21.429 | 2018-06-07 17:15:00+00:00 |   25.0   | 1800.000000 |
| 2018-06-07 18:45:00+00:00 | a48e47ab-bbcd-5b39-aaaa-47fbaafe166e |  25.0  | 2018-06-07 18:15:00+00:00 |   30.0   | 1800.000000 |
| 2018-06-07 19:15:00+00:00 | a48e47ab-bbcd-5b39-aaaa-47fbaafe166e |  20.0  | 2018-06-07 18:45:00+00:00 |   25.0   | 1800.000000 |
| 2018-06-07 19:45:00+00:00 | a48e47ab-bbcd-5b39-aaaa-47fbaafe166e | 23.077 | 2018-06-07 19:15:00+00:00 |   20.0   | 1800.000000 |
+---------------------------+--------------------------------------+--------+---------------------------+----------+-------------+

In [31]:
grader.check("q4a")

q4a results: All test cases passed!

### Question 4b: Creating tuples for the missing readings
Now we need to manufacture new tuples to fill in the gaps. For example, if you had a tuple from id `abc` timestamped at 1PM today and the next tuple in time from `abc` was timestamped at 1:45PM, you'll need to manufacture two new tuples with id `abc` and `NULL` values: one timestamped at 1:15PM and another timestamped at 1:30PM. We will worry about replacing the `NULL` values in the next step.

To manufacture tuples not related to stored data in the database, we'll need to use a *table-valued function*. The table-valued function we want here is `generate_series` [(documented here)](https://www.postgresql.org/docs/current/functions-srf.html), which we will use to generate *and sequentially timestamp* the right number of tuples to match the number of tuples we found missing.

To get a feel for `generate_series`, consider the following simple query that generates a table of integers with intervals of size 3 between them.

In [32]:
%%sql
SELECT *
  FROM generate_series(1, 10, 3);

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

4 rows affected.

+-----------------+
| generate_series |
+-----------------+
|        1        |
|        4        |
|        7        |
|        10       |
+-----------------+

Now, we can use `generate_series` in a `LATERAL JOIN` query: for each tuple on the left of the `LATERAL` it will produce a series based on the values of that tuple. So for example, we can generate 2 tuples for each tuple of `uc_locations` as follows:

In [33]:
%%sql
SELECT loc_id, loc_name, length(loc_name), newval
  FROM uc_locations u, 
       LATERAL generate_series(length(loc_name) - 2, length(loc_name) + 2, 2) AS newval;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

36 rows affected.

+--------+---------------+--------+--------+
| loc_id |    loc_name   | length | newval |
+--------+---------------+--------+--------+
|   1    | AG FIELD STAT |   13   |   11   |
|   1    | AG FIELD STAT |   13   |   13   |
|   1    | AG FIELD STAT |   13   |   15   |
|   2    |    BERKELEY   |   8    |   6    |
|   2    |    BERKELEY   |   8    |   8    |
|   2    |    BERKELEY   |   8    |   10   |
|   3    |     DAVIS     |   5    |   3    |
|   3    |     DAVIS     |   5    |   5    |
|   3    |     DAVIS     |   5    |   7    |
|   4    |     IRVINE    |   6    |   4    |
+--------+---------------+--------+--------+
Truncated to displaylimit of 10.

Notice how the 2 values it generates are the length of the `loc_name`, and the length + 2. You might want to play with the query above to make sure you understand the documentation for `generate_series` and `LATERAL`.

Ok, on to your task!

Create a view `complete` that contains the tuples from `data` as well as new tuples that fill in any gaps greater than or equal to 30 minutes. Each gap should be filled by adding tuples in increments of 15 minutes from the *start* of the gap, **with `NULL` as the value**. You probably want to use your `gaps` view as well as `generate_series` to do this!

**Hint:** the lower and upper bounds in generate_series (in pseudocode) should be `(lagtime + 15 minutes, time - 15 minutes)`.

In [34]:
%%sql --save query_4b result_4b <<
CREATE OR REPLACE VIEW complete AS
WITH generated AS
    (SELECT newtime, id, NULL AS value 
    FROM gaps,
        generate_series(gaps.lagtime + INTERVAL '15 minutes', gaps.time + INTERVAL'15 minutes', '15 minutes'::interval) AS newtime),
quant_time AS
    (SELECT date_trunc('minute', time) AS time, id, CAST(value AS text)
    FROM data),
unionized AS
    (SELECT newtime, id, value FROM generated
    UNION
    SELECT time AS newtime, id, value FROM quant_time)
SELECT newtime AS time, id, CAST(value AS double precision) FROM unionized
;
SELECT * FROM complete ORDER BY id, time LIMIT 100;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

100 rows affected.

In [35]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4b = %sqlcmd snippets query_4b
grading_util.save_results("result_4b", query_4b, result_4b)
result_4b

+---------------------------+--------------------------------------+----------+
|            time           |                  id                  |  value   |
+---------------------------+--------------------------------------+----------+
| 2018-06-07 00:00:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65085.99 |
| 2018-06-07 00:15:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65086.16 |
| 2018-06-07 00:30:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65086.35 |
| 2018-06-07 00:45:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65086.52 |
| 2018-06-07 01:00:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65086.71 |
| 2018-06-07 01:15:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65086.89 |
| 2018-06-07 01:30:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65087.07 |
| 2018-06-07 01:45:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65087.25 |
| 2018-06-07 02:00:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65087.43 |
| 2018-06-07 02:15:00+00:00 | a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 65087.62 |
+---------------------------+--------------------------------------+----------+

In [36]:
grader.check("q4b")

q4b results: All test cases passed!

### Question 4c: Linear Interpolation
*Note: If you struggled with the previous subparts of this problem, you can use our table `complete_provided` instead of your `complete` table in this subpart.*

Now, given the `complete` view or the `complete_provided` table, the remaining task is to do linear interpolation to fill in the missing values we manufactured in Step 2. We have code from **this semester's** Lecture 15 (Data Preparation IV) we can reuse here! In particular, your database already includes the UDA (User-Defined Aggregate) `coalesce_agg` we used in lecture (you can use it directly, there's no need to redefine it).

But note that in Lecture 15's example of linear interpolation we had a field that was used to order *all* the records in the table. In contrast, here the ordering we care about is the series of `time` for each sensor `id` *independently*. You will need to make minor changes to adapt the linear interpolation code from class to work here.

Create a view `likely_data` that contains all the tuples from `complete`, with an additional column called `interpolated` that contains a copy of `value` if it is non-NULL, otherwise an interpolated value based on linear interpolation **per sensor id over time**. Please **retain all additional columns created from forward and backward passes**. (There should be 10 columns in the view‚Äîthe order of the columns does not matter.) The three cells below correspond to the forward, backward, and final passes from lecture.

In [37]:
%%sql
CREATE OR REPLACE VIEW forward AS
SELECT *,
       SUM(CASE WHEN value IS NULL THEN 0 ELSE 1 END) 
         OVER (ORDER BY id,time) AS run,
       coalesce_agg(value) OVER (ORDER BY id,time) AS run_start,
       CASE WHEN value IS NULL 
              THEN lead(value, 1) OVER (ORDER BY id,time)
            ELSE NULL
             END AS nextval
  FROM complete_provided;
SELECT * FROM forward ORDER BY id,time;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

102386 rows affected.

+--------------------------------------+---------------------------+--------------------+-----+--------------------+---------+
|                  id                  |            time           |       value        | run |     run_start      | nextval |
+--------------------------------------+---------------------------+--------------------+-----+--------------------+---------+
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:00:09+00:00 | 65090.00484684979  |  1  | 65090.00484684979  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:15:09+00:00 | 65095.063847657846 |  2  | 65095.063847657846 |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:30:09+00:00 | 65088.88889295036  |  3  | 65088.88889295036  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:45:09+00:00 | 65091.74918576991  |  4  | 65091.74918576991  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:00:09+00:00 | 65094.52465676664  |  5  | 65094.52465676664  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:15:09+00:00 | 65091.54352268936  |  6  | 65091.54352268936  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:30:09+00:00 | 65091.92453754127  |  7  | 65091.92453754127  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:45:09+00:00 | 65090.50560937036  |  8  | 65090.50560937036  |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 02:00:09+00:00 | 65095.217779690916 |  9  | 65095.217779690916 |   None  |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 02:15:09+00:00 | 65088.44877438346  |  10 | 65088.44877438346  |   None  |
+--------------------------------------+---------------------------+--------------------+-----+--------------------+---------+
Truncated to displaylimit of 10.

In [38]:
%%sql
CREATE OR REPLACE VIEW backward AS
SELECT *,
       CASE WHEN value IS NOT NULL THEN value
            ELSE coalesce_agg(nextval) OVER
            (PARTITION BY run ORDER BY id,time DESC)
        END AS run_end,
       count(*) OVER (PARTITION BY run) AS run_size,
       (RANK() OVER (PARTITION BY run ORDER BY id,time)) AS run_rank
  FROM forward;
SELECT * FROM backward ORDER BY id;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

102386 rows affected.

+--------------------------------------+---------------------------+--------------------+-----+--------------------+---------+--------------------+----------+----------+
|                  id                  |            time           |       value        | run |     run_start      | nextval |      run_end       | run_size | run_rank |
+--------------------------------------+---------------------------+--------------------+-----+--------------------+---------+--------------------+----------+----------+
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:00:09+00:00 | 65090.00484684979  |  1  | 65090.00484684979  |   None  | 65090.00484684979  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:15:09+00:00 | 65095.063847657846 |  2  | 65095.063847657846 |   None  | 65095.063847657846 |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:30:09+00:00 | 65088.88889295036  |  3  | 65088.88889295036  |   None  | 65088.88889295036  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 00:45:09+00:00 | 65091.74918576991  |  4  | 65091.74918576991  |   None  | 65091.74918576991  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:00:09+00:00 | 65094.52465676664  |  5  | 65094.52465676664  |   None  | 65094.52465676664  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:15:09+00:00 | 65091.54352268936  |  6  | 65091.54352268936  |   None  | 65091.54352268936  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:30:09+00:00 | 65091.92453754127  |  7  | 65091.92453754127  |   None  | 65091.92453754127  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 01:45:09+00:00 | 65090.50560937036  |  8  | 65090.50560937036  |   None  | 65090.50560937036  |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 02:00:09+00:00 | 65095.217779690916 |  9  | 65095.217779690916 |   None  | 65095.217779690916 |    1     |    1     |
| a3d3326f-20ab-5f1d-97c7-f3084df43f06 | 2018-06-07 02:15:09+00:00 | 65088.44877438346  |  10 | 65088.44877438346  |   None  | 65088.44877438346  |    1     |    1     |
+--------------------------------------+---------------------------+--------------------+-----+--------------------+---------+--------------------+----------+----------+
Truncated to displaylimit of 10.

In [39]:
%%sql --save query_4c result_4c <<
CREATE OR REPLACE VIEW likely_data AS
SELECT *, 
       run_start + (run_rank-1)*((run_end-run_start)/(run_size))
         AS interpolated
  FROM backward;
SELECT * FROM likely_data WHERE run_size > 2 ORDER BY id, time LIMIT 100;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

100 rows affected.

In [40]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_4c = %sqlcmd snippets query_4c
grading_util.save_results("result_4c", query_4c, result_4c)
result_4c

+--------------------------------------+---------------------------+--------------------+-------+--------------------+--------------------+--------------------+----------+----------+--------------------+
|                  id                  |            time           |       value        |  run  |     run_start      |      nextval       |      run_end       | run_size | run_rank |    interpolated    |
+--------------------------------------+---------------------------+--------------------+-------+--------------------+--------------------+--------------------+----------+----------+--------------------+
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-08 10:00:02+00:00 | 1.7230274441963545 | 10646 | 1.7230274441963545 |        None        | 1.7230274441963545 |    3     |    1     | 1.7230274441963545 |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-08 10:15:00+00:00 |        None        | 10646 | 1.7230274441963545 |        None        | 5.372979444921953  |    3     |    2     | 2.939678111104887  |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-08 10:30:00+00:00 |        None        | 10646 | 1.7230274441963545 | 5.372979444921953  | 5.372979444921953  |    3     |    3     | 4.156328778013419  |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-08 19:45:03+00:00 | 0.6144687255293491 | 10683 | 0.6144687255293491 |        None        | 0.6144687255293491 |    3     |    1     | 0.6144687255293491 |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-08 20:00:00+00:00 |        None        | 10683 | 0.6144687255293491 |        None        |  8.10343967255239  |    3     |    2     | 3.1107923745370294 |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-08 20:15:00+00:00 |        None        | 10683 | 0.6144687255293491 |  8.10343967255239  |  8.10343967255239  |    3     |    3     |  5.60711602354471  |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-09 01:00:03+00:00 | 2.196116776472188  | 10702 | 2.196116776472188  |        None        | 2.196116776472188  |    3     |    1     | 2.196116776472188  |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-09 01:15:00+00:00 |        None        | 10702 | 2.196116776472188  |        None        | 1.4019035586474615 |    3     |    2     | 1.931379037197279  |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-09 01:30:00+00:00 |        None        | 10702 | 2.196116776472188  | 1.4019035586474615 | 1.4019035586474615 |    3     |    3     | 1.6666412979223701 |
| a49cd747-43c3-536d-b3ee-ec9c087b9317 | 2018-06-10 05:00:02+00:00 | 4.692789500399002  | 10813 | 4.692789500399002  |        None        | 4.692789500399002  |    3     |    1     | 4.692789500399002  |
+--------------------------------------+---------------------------+--------------------+-------+--------------------+--------------------+--------------------+----------+----------+--------------------+

In [41]:
grader.check("q4c")

q4c results: All test cases passed!

## Question 5: Granularity Transforms
In this question we will write a roll-up query on an ontology. This requires a bit of background explanation.

## [Tutorial, read] 

### The Brick Ontology

An ontology is a way of showing the properties of a subject area and how they are related, by defining a set of terms and relational expressions that represent the entities in that subject area. 

The [Software-Defined Buildings](http://sdb.cs.berkeley.edu/sdb/) research project at Berkeley has led the development of a standard ontology for building metadata called [Brick](https://docs.brickschema.org/intro.html) that is getting a fair bit of attention in the world of IoT. Like many ontologies, it is represented as triples `(subject, predicate, object)`. In our database, the Brick ontology has been stored in a table called `ontology`.

### The `SubClassOf` Predicate and the `Sensor` Class

We are interested in readings from different classes of sensor devices. More specifically, we are interested in rows from the `metadata` table whose `metadata.class` entry maps to an `ontology` subject $s$, and that subject is in an ontology tuple `(`$s$`, http://www.w3.org/2000/01/rdf-schema#subClassOf, https://brickschema.org/schema/Brick#Sensor)`. Then we know that the sensor in `metadata` belongs to a sub-class of `Sensor`. 

The diagram below shows a few of the `subject`s and `object`s from `ontology` in ovals. There is a dark arrow between two ovals if there is a corresponding row in `ontology`. The immediate sub-classes of `Sensor` in the diagram are shown in yellow; we'll call them "Sensor children".


<img src="data/subClass.png">

This image is available as `data/subClass.png`, and can be made available full-screen for ease of access.

### The `transitive_subClassOf` Relation

The `transitive_subClassOf` materialized view is the set of edges that compose the ontology graph, i.e., all dark black and light green arrows on the diagram. It contains tuples of the form `(object, subject, hops, path)` where subject and object are connected transitively in `ontology` via one or more subClassOf predicates described above. `path` is a Postgres array type that shows the transitive path of class names through the ontology from subject to object, and `hops` is the length of that path. Run the next cell to see the first 4 rows of `transitive_subClassOf`:

In [42]:
%sql SELECT * FROM transitive_subClassOf LIMIT 4;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

4 rows affected.

+-------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------+------+-------------------------------------------------------------------------------------------------------------+
|                                                 object                                                |                                                           subject                                                           | hops |                                                     path                                                    |
+-------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------+------+-------------------------------------------------------------------------------------------------------------+
|    <a href=https://brickschema.org/schema/Brick#Room>https://brickschema.org/schema/Brick#Room</a>    |     <a href=https://brickschema.org/schema/Brick#Ablutions_Room>https://brickschema.org/schema/Brick#Ablutions_Room</a>     |  1   |     ['https://brickschema.org/schema/Brick#Ablutions_Room', 'https://brickschema.org/schema/Brick#Room']    |
|                                               ub1bL18C21                                              |     <a href=https://brickschema.org/schema/Brick#Ablutions_Room>https://brickschema.org/schema/Brick#Ablutions_Room</a>     |  1   |                    ['https://brickschema.org/schema/Brick#Ablutions_Room', 'ub1bL18C21']                    |
| <a href=https://brickschema.org/schema/Brick#Chiller>https://brickschema.org/schema/Brick#Chiller</a> | <a href=https://brickschema.org/schema/Brick#Absorption_Chiller>https://brickschema.org/schema/Brick#Absorption_Chiller</a> |  1   | ['https://brickschema.org/schema/Brick#Absorption_Chiller', 'https://brickschema.org/schema/Brick#Chiller'] |
|                                               ub1bL51C21                                              | <a href=https://brickschema.org/schema/Brick#Absorption_Chiller>https://brickschema.org/schema/Brick#Absorption_Chiller</a> |  1   |                  ['https://brickschema.org/schema/Brick#Absorption_Chiller', 'ub1bL51C21']                  |
+-------------------------------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------+------+-------------------------------------------------------------------------------------------------------------+

The `transitive_subClassOf` edge graph is also called a [transitive closure](https://en.wikipedia.org/wiki/Transitive_closure) of the `subClassOf` predicate, because it represents that subclasses of subclasses of classes are sensors, and so on.

We have already materialized this view for you, but to clarify its structure, we formed transitive ‚Äúchains‚Äù by joining ontology with itself. For example, we could have made the materialized view `transitive_2edge_subClassOf` with the below command:
```sql
CREATE MATERIALIZED VIEW transitive_2edge_subClassOf AS
    SELECT o1.subject, o2.object 
      FROM ontology o1 INNER JOIN ontology o2 ON o1.object = o2.subject
     WHERE o1.predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf'
       AND o2.predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf';
``` 

Extending this example, in order to compute edges of length 3 we would have needed to join 3 references to `ontology`, and so on. To form all chains of arbitrary length requires the use of a recursive query‚Äîsomething we haven't learned in this class. Again, we have already done this for you in the materialized view `transitive_subClassOf` that provides the result of that recursive query. 

*Just for fun: If you're curious about the recursive query that computes this view, you can issue the command `\d+ transitive_subClassOf` to Postgres. You may also want to read the documentation for SQL's [WITH RECURSIVE](https://www.postgresql.org/docs/9.1/queries-with.html) clause as implemented in Postgres.*

### Question 5a

We want to check the graph properties of the `subClassOf` predicate. It would be confusing if the `subClassOf` predicate had cycles!

Write a query on `transitive_subClassOf` to check for cycles. Ask yourself this: what property in `transitive_subClassOf` would be indicative of a cycle? Your query should return one row of one boolean column: `true` if the predicate has cycles, `false` otherwise.

**Hint:** You may find `EXISTS` to be useful here.

In [43]:
%%sql --save query_5a result_5a <<
SELECT CASE WHEN EXISTS
    (SELECT *
    FROM transitive_subClassOf
    WHERE object = subject)
    THEN true
    ELSE false
END;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

1 rows affected.

In [44]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_5a = %sqlcmd snippets query_5a
grading_util.save_results("result_5a", query_5a, result_5a)
result_5a

+-------+
|  case |
+-------+
| False |
+-------+

In [45]:
grader.check("q5a")

q5a results: All test cases passed!

### Question 5b

Assuming it's not cyclic, the next question is whether the `subClassOf` predicate forms *tree-shaped* connections only. The signature of a tree is that each node has at most one outbound edge (pointing to its "parent"). If any node has multiple outbound edges, the predicate forms a more general directed acyclic graph (a DAG). So we are looking to see if each subject is in a `subClassOf` predicate *with at most one object* (the single parent in the tree). 

Write a query that returns `true` if *each* subject is in a `subClassOf` predicate with at most one object, and `false` otherwise.

**Hint:** Refer to how we created `transitive_2edge_subClassOf` in the tutorial to see how we check if something is in a `subClassOf` predicate.

In [46]:
%%sql --save query_5b result_5b <<
SELECT NOT EXISTS
    (SELECT 1
        FROM ontology
        WHERE predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf'
        GROUP BY subject
        HAVING COUNT(DISTINCT OBJECT) > 1)
END;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

1 rows affected.

In [47]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_5b = %sqlcmd snippets query_5b
grading_util.save_results("result_5b", query_5b, result_5b)
result_5b

+-------+
|  end  |
+-------+
| False |
+-------+

In [48]:
grader.check("q5b")

q5b results: All test cases passed!

### Question 5c

Now that we understand the graph properties of the ontology, let's use the ontology to do a roll-up as intended. Remember from [lecture 13](https://docs.google.com/presentation/d/19Nsksm89k8NBap9rwINJJFJeZCDSmF-feM6o0mz868c/edit?usp=sharing) that a roll-up is transforming to coarser grain (e.g., go up in a hierarchy). We're interested in the number of unique sensor `id`s from `metadata` that are transitively in subclasses of each "Sensor child" class. To compute this, you will have to associate each `metadata.id` with a matching `brickclass` *(if there is one!)*, and use the `transitive_subClassOf` view to identify all "Sensor children" for which the matching `brickclass` is transitively in a `subClass`. (If the `subClass` predicate is a DAG, then each `id` should be counted for *all* the direct subclasses of `Sensor` that it's transitively underneath.)

Write a query that returns tuples of the form `(sensor_child, count)` that returns for each "Sensor child" the count of **distinct** `metadata.id` entries that are subclasses of that "Sensor child" class. Only output tuples that have a matching `brickclass`.

**Hints:**
- It may be helpful to first create a CTE where you identify the unique sensor children

Refer to `data/schema.png` for a refresher on the schema. This will be helpful to identify:
- how you can associate sensors in `metadata` with a matching `brickclass` via `mapping`
- how you can use the `transitive_subClassOf` view which has attributes `object` and `subject` just like `ontology` to match "Sensor children" with `brickclass`

In [49]:
%%sql --save query_5c result_5c <<
WITH sensor_children AS
    (SELECT DISTINCT subject
    FROM ontology
    WHERE object = 'https://brickschema.org/schema/Brick#Sensor' AND predicate = 'http://www.w3.org/2000/01/rdf-schema#subClassOf')
SELECT sensor_children.subject AS child, COUNT(DISTINCT metadata.id)
FROM transitive_subClassOf, metadata, mapping, sensor_children
WHERE mapping.rawname = metadata.class AND transitive_subClassOf.subject = mapping.brickclass AND sensor_children.subject = transitive_subClassOf.object
GROUP BY child;

Running query in 'postgresql://jovyan@127.0.0.1:5432/ucb_buildings'

2 rows affected.

In [50]:
# Do not delete/edit this cell!
# You must run this cell before running the autograder.
query_5c = %sqlcmd snippets query_5c
grading_util.save_results("result_5c", query_5c, result_5c)
result_5c

+-------------------------------------------------------------------------------------------------------------------+-------+
|                                                       child                                                       | count |
+-------------------------------------------------------------------------------------------------------------------+-------+
| <a href=https://brickschema.org/schema/Brick#Demand_Sensor>https://brickschema.org/schema/Brick#Demand_Sensor</a> |   92  |
|  <a href=https://brickschema.org/schema/Brick#Power_Sensor>https://brickschema.org/schema/Brick#Power_Sensor</a>  |  3106 |
+-------------------------------------------------------------------------------------------------------------------+-------+

In [51]:
grader.check("q5c")

q5c results: All test cases passed!

<hr style="border: 5px solid #003262;" />
<hr style="border: 1px solid #fdb515;" />

## Congratulations! You have finished Project 3.

Run the following cell to zip and download the results of your queries. You will also need to run the export cell at the end of the notebook.

**For submission on Gradescope, you will need to submit the `proj3.zip` file generated by the export cell.** Please ensure that your submission includes `proj3.pdf`.

**Common submission issues:** You MUST submit the generated zip files (not folders) to the autograder. However, Safari is known to automatically unzip files upon downloading. You can fix this by going into Safari preferences, and deselect the box with the text "Open safe files after downloading" under the "General" tab. If you experience issues with downloading via clicking on the link, you can also navigate to the project 3 directory within JupyterHub (remove `proj3.ipynb` from the url), and manually download the generated zip files. Please post on Ed if you encounter any other submission issues.

In [52]:
grading_util.prepare_submission_and_cleanup()  # builds results.zip

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [53]:
grader.check_all()

q1b results: All test cases passed!

q1c results: All test cases passed!

q2a results: All test cases passed!

q2b results: All test cases passed!

q3b results: All test cases passed!

q3c results: All test cases passed!

q3e results: All test cases passed!

q4a results: All test cases passed!

q4b results: All test cases passed!

q4c results: All test cases passed!

q5a results: All test cases passed!

q5b results: All test cases passed!

q5c results: All test cases passed!

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(files=['results.zip'])